name: CI build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - uses: actions/setup-node@v4
      with:
        node-version: 18
    - name: Run yarn install
      uses: borales/actions-yarn@v5
      with:
        dir: vue3
        cmd: install
    - name: Run yarn build
      uses: borales/actions-yarn@v5
      with:
        dir: vue3
        cmd: build
    - run: |
        pip install poetry
        poetry config installer.parallel false
        poetry config --list
        poetry install
        .\package_all.bat
#        pip install pywebview
#        pyinstaller --noconfirm --onefile --console --icon "./web/favicon.ico" --add-data "./module/*.exe;./module/" --add-data "./web;web/" --additional-hooks-dir=".\\hooks" "./ui_webview.py" --name "NsEmuTools-webview"
    - uses: actions/upload-artifact@v4
      with:
        path: dist/NsEmuTools.exe
        name: NsEmuTools
    - uses: actions/upload-artifact@v4
      with:
        path: dist/NsEmuTools-console.exe
        name: NsEmuTools-console
    - uses: actions/upload-artifact@v4
      with:
        path: dist/NsEmuTools.7z
        name: NsEmuTools.7z
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: |
          dist/*.exe
