h1 {
    color: #c3e87d;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

body {
    background-color: #263238;
    width: 100%;
    margin: 0;
}

h2 {
    color: #c792cc;
}

#yuzu-info > p {
    color: #69aae7;
    font-size: 19px;
}

.basic-info {
    color: #eeffff;
}

div#main-container {
    padding-left: 10px;
}

div#yuzu-info {
    padding-bottom: 30px;
}

.outer {
    width: 100%;
    text-align: left;
}

.inner {
    display: inline-block;
}

div#top-bar {
    background-color: #3a4c55;
    width: 100%;
    height: 30px;
}

span.top-bar {
    padding-left: 8px;
    font-size: 1.28rem;
    overflow: scroll;
}

div#component-manage-container {
    font-size: 19px;
}

.install-btn {
    width: 100px !important;
}

select.form-select {
    width: 300px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}